@import "tailwindcss";

:root {
  --background: #020306;
  --foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --secondary: #1e293b;
  --secondary-foreground: #ffffff;

  --accent: #3b82f6;
  --accent-foreground: #ffffff;

  --muted: #334155;
  --muted-foreground: #94a3b8;

  --card: #0a0a0a;
  --card-foreground: #ffffff;

  --border: #1f2937;
}



@theme inline {
    --font-josefin: var(--font-josefin-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, system-ui, sans-serif);
}

.bg-dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.248) 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.glass {
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.glass-card {
  background: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}




